div{
    background-color: aqua;
}
p{
    text-align: center;
    padding: 5px;
    width: 400px;
    margin: auto;
}
h3{
    text-align: center;
}
img{
    margin: 1px;
    border: 5%;
    padding: 2pt;
    width: 300px;
    height: 200px;
}